@model AMS.Models.Vendor

    @{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script>
        var App = angular.module("app", []);
        App.controller("vendorCtrl", function ($scope, $http) {

            $scope.list = [];
            $scope.VendorData = [];

            $scope.VendorObj = { Vendor_Id: 0, Vendor_Name: "", Vendor_MobileNo: "", Vendor_Address: "", Vendor_Remaining: 0, Vendor_NTN: "", Vendor_Company: "", };

            function JsonCallParam(Controller, Action, Parameters) {
                $.ajax
                    ({
                        type: "POST",
                        traditional: true,
                        async: false,
                        cache: false,
                        url: '/' + Controller + '/' + Action,
                        context: document.body,
                        data: Parameters,
                        success: function (json) {
                            list = null; list = json;
                        }, error: function (xhr) {
                            list = null;
                        }
                    });
            }

            $scope.Save = function () {
                var pram = { "VendorObj": JSON.stringify($scope.VendorObj) };

                if ($scope.VendorObj.Vendor_Id == 0) {
                    JsonCallParam("Vendors", "Insert", pram)
                }
                else {
                    JsonCallParam("Vendors", "Update", pram)
                }

                $scope.GetVendor();
                $scope.clear();

            };

            $scope.GetVendor = function () {
                JsonCallParam("Vendors", "GetVendor");
                $scope.VendorData = list;
            }
            $scope.GetVendor();

            $scope.clear = function () {
                $scope.VendorObj = { Vendor_Id: 0, Vendor_Name: "", Vendor_MobileNo: "", Vendor_Address: "", Vendor_Remaining: 0, Vendor_NTN: "", Vendor_Company: "", };
            }

            $scope.LoadData = function (venObject) {
                JsonCallParam("Vendors", "LoadData", { "Id": venObject.Vendor_Id })
                $scope.VendorObj = list;
                $scope.GetVendor();
            }

            $scope.DeleteData = function (venObject) {
                JsonCallParam("Vendors", "DeleteData", { "Id": venObject.Vendor_Id })
                $scope.VendorObj = list;
                $scope.GetVendor();

            }
        });

    </script>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registration</h4>
                    <h6 class="card-subtitle">
                        Register Here
                    </h6>
                    <form class="form-material m-t-40">

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Enter Your Name">
                        </div>
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="text" class="form-control" placeholder="Enter Your Mobile Number">
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" rows="3" placeholder="Enter Your Address"></textarea>
                        </div>
                        <div class="form-group">
                            <label>National Tax No.</label>
                            <input type="text" class="form-control" placeholder="Enter Your National Tax Number">
                        </div>
                        <div class="form-group">
                            <label>Company Name</label>
                            <input type="text" class="form-control" placeholder="Enter Your Company Name">
                        </div>
                        <div class="form-group m-b-0">
                            <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Sign in</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>